a:link {
    color: #FF0000;
}

a:visited {
    color: rgb(190, 22, 106);
}

a:hover {
    background-color: rgb(0, 0, 0);
  }

a:active {
    color: rgb(0, 255, 13);
  }

p {
  display: none;
  background-color: rgb(0, 0, 0);
  color: antiquewhite;
  padding: 20px;

}

div:hover p{
  display: inline-block;
}